.imgModalUser{
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;  
}
.imgModalUser img{
    width: 100%;
    height: auto;
    /* margin-top: -40%; */
}


.imgCenter{
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;  
}
.imgCenter img{
    width: 100%;
    height: auto;
    margin-top: -40%;
}
.imgLogin{
    display: flex;
    width: 100%;
}
.btnLogin{
    width: 4%;
}

.editU{
    display: flex;
    justify-content: space-between;
}
.msgSuccess{
    color: rgb(34, 214, 34);
}
.msgError{
    color: red;
}