<h1>{{subject}} FUNCIONA!</h1>


<div class="container">
  <div class="row">
    <div class="col-md-4  fila-sep" *ngFor="let material of materials; let i=index">
      <div class="card" style="width: 100%;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{material.titulo}}</h5>
          <h6 class="card-title">{{material.autor}}</h6>
          <p class="card-text">{{material.descripcion}}</p>
          <a href="#" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    </div>
    <div class="clearfix" *ngIf="(counter + 1) % 3 === 0"></div>
  </div>
</div>


<!-- <table class="table table-dark table-striped">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Autor</th>
          <th scope="col">Titulo</th>
          <th scope="col">Descripcion</th>
        </tr>
      </thead>
      <tbody *ngFor="let material of materials">
        <tr>
          <th scope="row">{{material._id}}</th>
          <td>{{material.autor}}</td>
          <td>{{material.titulo}}</td>
          <td>{{material.descripcion}}</td>
        </tr>
    </tbody>
</table> -->